<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>RazorPages</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main_style.css">
    @await RenderSectionAsync("styles", required: false)
</head>
<body>
<nav class="nav-bar">
</nav>
<div>
    <partial name="_CookieConsentPartial"/>
    <main class="main-body">
        <section class="left-navigation">
            <div class="menu">
                <p class="menu-label">Admin menu</p>
                <ul class="menu-list">
                    <li>
                        <a asp-page="/Admin/Index">Admin</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-page="/Accounts/Login">Sign In</a>
                        </li>
                    }else
                    {
                        <li>
                            <a asp-controller="Account" asp-action="LogOut">Sign Out</a>
                        </li>
                    }
                </ul>
            </div>
        </section>
        <section class="middle-content">
            @RenderBody()
        </section>

    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>